

{% extends "header.html" %}

{% block content %}

<title>سود و درآمد</title>

<p></p>


<button class="btn-floating btn-large waves-effect waves-light blue" onclick="print_current_page()">چاپ صفحه</button>
	<div class="container">
	
	<center>
	
		<h3>**سود و درآمد**</h3>
		
		<br></br>
		<h4>____________________________________________________</h4>
		
		
		<div class="container">
			
			<h4>درآمد کل : {{earned}} ریال</h4>
			
		</div>
		<h4>____________________________________________________</h4>
		
		<div class="container">
			
			<h4>هزینه ی کل : {{cost}}ریال</h4>
			
		</div>
		<h4>____________________________________________________</h4>
		<div class="container">
			
			<h4>تفاضل درآمد از هزینه(سود) : {{profit}}ریال</h4>
			
		</div>
		
	

  </div>
<script src="/static/material/JS/print.js"></script>

{% endblock %}