

{% extends "header.html" %}

{% block content %}

<title>هزینه ها</title>

<p></p>


<button class="btn-floating btn-large waves-effect waves-light blue" onclick="print_current_page()">چاپ صفحه</button>
	<div class="container">

	<table class="striped">
        <thead>
          <tr>
              <th>مبلغ هزینه</th>
              <th>تاریخ</th>
			  <th>توضیحات</th>
              
          </tr>
        </thead>

        <tbody>
		{% for costs in cost %}
          
		  <tr>
            <td>{{costs.amount}}ریال</td>
            <td>{{costs.date}}</td>
            <td>{{costs.details}}</td>
          </tr>
		  {%endfor%}
		  
		  <tr>
		  
            <td>کل </td>
			
            <td>{{total}}ریال</td>
          </tr>
		  
        </tbody>
     </table>

  </div>
<script src="/static/material/JS/print.js"></script>

{% endblock %}